.text-h{
    color: #dd003b;
    margin: auto;
    margin-top: 33px;
    font-size: 35px;
    font-weight: 800;
    font-family: sans-serif;
}
.img-12-div{

background-color: #ffeaf0;
width: 100px;
height: 100px;
border-radius: 50%;
justify-content: center;
display: flex;
align-items: center;
}
.img-12-main-div{
    text-align: center;
    justify-content: center;
display: flex;
align-items: center;
flex-direction: column;
    margin-inline: 4rem;
}
.mmm{
    margin-left: 7rem;
}
.p-53{
    font-weight: 500;
    color: grey
}