.header{
    .topHeader{
        background-color: #E0E0E0;
        display: flex;
        justify-content: flex-end;
        padding:8px 0;
        padding-right: 200px;
        align-items: center;
        .contact-wrap{
            display: flex;
            align-items: center;
            margin-right: 20px;
            .icon-wrap{
                margin-right: 10px;
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #DD003B;
                padding: 5px;
                border-radius: 50%;
                svg{
                    color: #fff;
                }
            }
            span{
                font-size: 16px;
                color: #7C7C7C;
                a{
                    text-decoration: none;
                    color: #7C7C7C;
                }
            }
        }
    }
    .bottomHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 100px;
        .nav-items{
            ul{
                li{
                    color: #7C7C7C;
                }
            }
        }
    }
}