.header{
    background-color: #fff;
    box-shadow: 1px 1px 4px #a4a3a3;
    .topHeader{
        background-color: #E0E0E0;
        display: flex;
        justify-content: flex-end;
        padding:8px 0;
        padding-right: 200px;
        align-items: center;
        .contact-wrap{
            display: flex;
            align-items: center;
            margin-right: 20px;
            .icon-wrap{
                margin-right: 10px;
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #DD003B;
                padding: 5px;
                border-radius: 50%;
                svg{
                    color: #fff;
                }
            }
            span{
                font-size: 16px;
                color: #7C7C7C;
                a{
                    text-decoration: none;
                    color: #7C7C7C;
                }
            }
        }
    }
    .bottomHeader{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 100px;
        padding-block: 10px;
        .logo-wrap{
            height: 80px;
            width: 80px;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .nav-items{
            ul{
                display: flex;
                list-style: none;
                li{
                    padding: 5px;
                    color: #7C7C7C;
                }
            }
        }
    }
}