.hero {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: start;
    gap: 20px;
    padding-left: 80px;
    padding-right: 40px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;

    &__content {
        width: 100%;
        height: 100%;

        padding-top: 180px;

        h1, h2, h3, p {
            margin: 0;
            padding: 0;
        }
    }

    &__header {
        color: #dd003b;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 36px !important;
    }

    &__headline {
        color: #dd003b;
        font-size: 40px;
        line-height: 44px;
        font-weight: 900;
        max-width: 70%;
    }

    &__description {
        color: #b3b3b3;
        margin-top: 12px !important;
    }

    &__image {
        height: 100%;
        width: 100%;

        img {
            max-width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid #cdafb2;
        }
    }
}
